# Terraform
.terraform/
terraform/.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfvars.backup
crash.log

# Ansible
*.retry
ansible/inventory/*.ini.bak

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# General
.DS_Store
*.log
